<div class="appointments-container">
    <h2>Completed Appointments</h2>
  
    <!-- Check if there are no completed appointments -->
    <div *ngIf="app.length === 0" class="no-appointments">
      <p>No completed appointments found.</p>
    </div>
  
    <!-- Loop through the appointments and show details -->
    <div *ngFor="let appointment of app" class="appointment-item">
      <div class="appointment-info">
        <!-- Check if the patient data is available for the current appointment -->
        <ng-container *ngIf="appointment.patientDetails">
          <p><strong>{{ appointment.patientDetails.firstName }} {{ appointment.patientDetails.lastName }}</strong></p>
          <span>Appointment Date: {{ appointment.appointmentDate | date }}</span><br>
          <span>Status: {{ appointment.status === 'Scheduled' ? 'Scheduled' : 'Completed' }}</span>
  
          <!-- Show additional details if needed -->
          <div *ngIf="appointment.cancellationReason">
            <p><strong>Reason for Cancellation:</strong> {{ appointment.cancellationReason }}</p>
          </div>
  
          <button class="view-soap-btn" (click)="viewSOAP(appointment.id)">
            View SOAP
          </button>
        </ng-container>
      </div>
    </div>
  
    <!-- SOAP Modal -->
    <div *ngIf="showSOAPModal" class="soap-modal" [ngClass]="{ 'show': showSOAPModal }">
      <div class="modal-content">
          <span class="close-btn" (click)="closeSOAPModal()">×</span>
          <h3>SOAP Notes</h3>
          <p><strong>Subjective:</strong> {{ soap?.subjective }}</p>
          <p><strong>Objective:</strong> {{ soap?.objective }}</p>
          <p><strong>Assessment:</strong> {{ soap?.assessment }}</p>
          <p><strong>Plan:</strong> {{ soap?.plan }}</p>
      </div>
  </div>
  
  </div>
  <app-loader></app-loader>
  