<div class="container mt-5">
    <div class="card shadow-lg rounded-4">
      <div class="card-body p-4">
        <h5 class="card-title text-center mb-4">Forgot Password</h5>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              placeholder="Enter your email"
            />
            <div
              *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched"
              class="text-danger small mt-1"
            >
              Please enter a valid email address.
            </div>
          </div>
  
          <div class="text-center mb-4">
            <button type="submit" class="btn btn-outline-primary rounded-pill px-4 py-2 transition-all">
              Send Reset Link
            </button>
          </div>
        </form>
        <button type="submit" routerLink="/login" class="btn btn-primary ">
          Go Back To Login
        </button>
      </div>
    </div>
  </div>
  <app-loader></app-loader>
  